@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 1rem;
}

.header-content {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.logo-icon {
    width: 10%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.625rem;
}

.nav {
    display: none;
    gap: 1.5rem;
}

.contact-button {
    background-color: var(--primary-color);
    color: var(--light-gray);
    width: 6rem;
    height: 2rem;
    display: flex; /* Make sure it is visible */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.1s;
}

.contact-button:hover {
    background-color: var(--accent-color);
}

.menu-button {
    display: none; /* Initially hidden */
    background: none;
    border: none;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex; /* Visible on larger screens */
    }

    .contact-button {
        display: flex; /* Visible on larger screens */
    }

    .menu-button {
        display: none; /* Hidden on larger screens */
    }
}

@media screen and (max-width: 768px) {
    .nav {
        display: none; /* Hidden on smaller screens */
    }

    .contact-button {
        display: none; /* Hidden on smaller screens */
    }

    .menu-button {
        display: flex; /* Visible on smaller screens */
        align-items: center;
        justify-content: center;
    }
}
.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: auto 0;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }   
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
.section-description{
    color: var(--gray);
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}
.student-button,.counselor-button{
    background-color: var(--primary-color);
    color: var(--light-gray);
    width: 6rem;
    height: 2rem;
    display: flex; /* Make sure it is visible */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.1s;
}
.counselor-button:hover {
    background-color: var(--accent-color);
}
.student-button:hover {
    background-color: var(--accent-color);
}
.counselor-button{
    background-color: #333333;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction: row;
    }
}
/* General Form Styles */
.login-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    flex-wrap: wrap;
  }
  
  .login-form, .register-form {
    background: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .student-login-title {
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.2rem;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: .9rem;
  }
  
  .no-account{
    text-align: center;
    margin-top: 1rem;
  }
  
  .register-link{
    color: #6366f1;
    text-decoration: none;
  }
  
  .register-link:hover {
    text-decoration: underline;
  }
  